
.all_albums_body {
    padding-bottom: 20px;    
    padding-top: 10px;
    width: 100%;
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(94, 92, 104);
    padding-left: 210px;
    min-height: 250vh;
    flex: 1;
    z-index: 1000;
  }

.all_albums_body h1{
    margin: 35px 30px;
    
    
}  

.albumpage_image {
    max-height: 180px;
    object-fit: contain;
    border-radius: 10px;
}

.albumpage_container{
    background-color: rgba(0, 0, 0, 0.747);
    margin-right: 15px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 15px;
    transition: 500ms;
    float: left;
    margin-bottom: 30px;
}

.albumpage_info {
    width: 80%;
    margin-left: 2px;
}

.albumpage_info h3{
    margin: 5px 0;
    font-size: 15px;
}

.albumpage_info h3:hover{
    text-decoration: underline;
}

.albumpage_info h3:active{
    color: black;
}

.albumpage_info a{
    text-decoration: none;
    color: white;
}

.albumpage_info p{
    font-size: 13px;
    margin: 0;
}

.albumpage_title{
    margin-bottom: 15px;
    margin-left: 5px;
}

.albumpage_container:hover {
    background-color: rgba(211, 211, 211, 0.575);
    cursor: pointer;
}

.column_one{
    float: left;
    width: 85%;
}

.column_two{
    left: 30px;
    top: 3px;
    position: relative;
}

.column_two_artist{
    left: 32px;
    top: 3px;
    position: relative;
}

.fa-solid{
    transition: .1s;
}

.fa-solid:active{
    transform: scale(2);
}

.liked{
    color: green;
}

.fa-heart{
    margin-top: 5px;   
}
