.song_body {
    padding-bottom: 60px;
    width: 100%;
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(94, 92, 104);
    padding-left: 200px;
    flex: 1;
    z-index: 1000;
    min-height: 100vh;
  }
  
  .song_body::-webkit-scrollbar {
    display: none;
  }
  
  .song_video{
    text-align: center;    
  }
  
  .song_about{
    margin: 30px;
    text-align: justify;
  
    
  }
  h1{
    margin-left: 30px;
  }
  
  .add-cover h1{
    display: block;
    text-align: center;
   
  }