.artist_body {
    padding-bottom: 60px;
    width: 100%;
    position: static;
    color: white;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(94, 92, 104);
    box-sizing: border-box;
    padding-left: 210px;
    min-height: 250vh;
    flex: 1;
    z-index: 1000;
  }

.albums_container{
  padding-left: 1px;
  margin-top: 2.3%;
}

.artist_body::-webkit-scrollbar {
  display: none;
}